<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.persistence.SongviewMapper">
	
	<select id="findAll" resultType="Songview">
		select s.id,s.content,s.songid,s.songname,s.userid,s.username from songview s
	</select>

	<select id="findAllView" parameterType="int" resultType="Songview">
		select * from songview where
		songid=#{songid}
	</select>
	<delete id="delete" parameterType="int">
		delete from songview
		where
		id=#{id}
	</delete>

	<insert id="add" parameterType="Songview">
		insert into
		songview(content,songid, songname,userid,username)
		values(#{content},#{songid},#{songname},#{userid},#{username})
	</insert>

</mapper>