<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.persistence.UserListsMapper">
	<!-- <update id="updateList" parameterType="int">
		update userlists set(userlistsname) values(#{userlistsname}) where id=#{id}
	</update> -->
	<select id="findAll" resultType="UserLists">
		select * from userlists
	</select>

	<insert id="add" parameterType="UserLists">
		insert into
		userlists(userlistsname) values(#{userlistsname})
	</insert>

	<select id="findById" parameterType="int" resultType="UserLists">
		select *
		from userlists
		where id=#{id}
	</select>

	<update id="update" parameterType="UserLists">
		update userlists
		set(userlistsname) values(#{userlistsname})
	</update>

	<delete id="delete" parameterType="int">
		delete from userlists
		where
		id=#{id}
	</delete>

</mapper>